.footer{
    background: linear-gradient(#5C8374, #092635);
    position: absolute;
    /* bottom: 0; */
    width: 100%;
}

@media (max-width: 1024px) {
    .footer{
        bottom: -293px;
    }
  }


@media (max-width: 407px) {
    .footer{
        width: 410px
    }
  }

  @media (max-width: 1114px) and (min-width: 1025px) {
    .cardBody{
        bottom: -393px;
    }
  }
