.forgot-password{
    justify-content: space-between;
    align-items: center;
    height: 660px;
}

.card{
    width: max-content;
    height: max-content;
    padding: 6% 4%;
    background: linear-gradient(#5C8374, #092635);
    border-radius: 10px
}

.card h2{
    color: #161510;
}

.Button{
    background-color : #1B4242;
    border-color: #5C8374;
    padding: 10px 20px;
    color: #161510;
    font-weight:bold;
    border: 1px solid #5C8374 ;
    border-radius: 10px;
}

.label{
    color: #161510;
    font-weight:bolder
}
.input{
    background-color:#1B4242;
    color:#161510;
    border:none
}
.input:focus{
    background-color:#1B4242;
    color:#161510;
    border:none
}
.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.body{
    justify-content: center;
}


@media (max-width: 575px) {
    .cardBody{
        /* width: 525px; */
        height: 260px;
    }
  }